.login-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
  }
  
  .login-title {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-buttons {
    display: flex;
    align-items: center;
  }
  
  .admin-link {
    margin-top: 10px;
    margin-left: 20px;
    color: blue;
  }
  
  .register-link {
    font-size: 20px;
    margin-top: 20px;
  }
  
  input,
  button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  