/* Signup.css */

.container-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth {
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
    padding: 20px;
    border-radius: 5px;
}

.card-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.card-body {
    /* background-color: #fff; */
    border-radius: 10px;
    padding: 20px;
}

.form-control {
    margin-bottom: 15px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    width: 100%;
}

.btn {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    /* color: #fff; */
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
}

.switch {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

.switch:hover {
    color: #0056b3;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
